body {
    margin: 0; /* Asegura que no hay margen en el body */
    overflow: hidden; /* Oculta el scrollbar estándar del body */
}

.main{
    height: 100%;
    width: 100%;
    background-color: #0A0E1A;
    overflow-y: scroll;
    scrollbar-width: none; /* Oculta el scrollbar estándar */
    margin: 0;
}

.main::-webkit-scrollbar {
    width: 1em;
}

.main::-webkit-scrollbar-thumb {
    background-color: #65B4FD;
    border-radius: 10px;
}

.main::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

.main::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.first-container{
    background-color: #0A0E1A;
    height: 25em;
    flex-direction: column;
    justify-content:center;
    display: flex;
    align-items: center;
}

.second-container{
    background-color: #ffffff;
    height: 40em;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container-title {
    width: 90%;
    margin-top: 1em;
    height: 5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container-title h1 {
    color: #65B4FD;
    font-size: 3em;
}

.box {
    width: 60em;
    height: 30em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}