<div class="main">
    <div class="first-container">
        <div class="container-title">
            <h1>Contáctanos</h1>
        </div>
        <div style="width: 70%; margin-bottom: 1em;">
            <p style="text-align: center; font-size: 1.5em; color: white;">Somos un grupo en crecimiento de agentes de cambio que dan la bienvenida a mentes brillantes para unirse a nosotros en nuestra misión de revolucionar la ciberseguridad.</p>
        </div>    
    </div>
    <div class="second-container">
        <div class="box">
            <p style="text-align: center; font-size: 2em;">¿Preguntas? ¿Comentarios? ¡Envíanos un mensaje!</p>
            <form class="form">
                <div class="row">
                    <mat-form-field>
                        <mat-label>Nombre de la Empresa</mat-label>
                        <input matInput placeholder="Nombre de la Empresa">
                      </mat-form-field>
                    
                      <mat-form-field>
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput placeholder="Correo Electrónico">
                      </mat-form-field>
                </div>
                
                <div class="row">
                    <mat-form-field>
                        <mat-label>Celular</mat-label>
                        <input matInput placeholder="Celular">
                      </mat-form-field>
                    
                      <mat-form-field>
                        <mat-label>Motivo de Contacto</mat-label>
                        <input matInput placeholder="Motivo de Contacto">
                      </mat-form-field>
                </div> 
                <button mat-raised-button color="primary">Enviar</button>
              </form>
              
        </div>
    </div>
</div>