@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

body {
    margin: 0; /* Asegura que no hay margen en el body */
    overflow: hidden; /* Oculta el scrollbar estándar del body */
    font-family: 'Poppins', sans-serif;
}

.main{
    height: 100%;
    width: 100%;
    background-color: #0A0E1A;
    overflow-y: scroll;
    scrollbar-width: none; /* Oculta el scrollbar estándar */
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.main::-webkit-scrollbar {
    width: 1em;
}

.main::-webkit-scrollbar-thumb {
    background-color: #65B4FD;
    border-radius: 10px;
}

.main::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

.main::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.first-container{
    background-color: #0A0E1A;
    height: 25em;
    flex-direction: row;
    justify-content:center;
    display: flex;
    align-items: center;
}

.second-container{
    background-color: #ffffff;
    height: 25em;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.container-title {
    width: 70%;
    margin-top: 5em;
    height: 5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container-title h1 {
    color: #65B4FD;
    font-size: 3em;
}

.box {
    width: 30em;
    height: 20em;
    border-radius: 20px;
}   

.box h2 {
    text-align: center;
}

.box p {
    text-align: center;
}

.third-container{
    background-color: #0A0E1A;
    height: 30em;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.first-container{
    background-color: #0A0E1A;
    height: 25em;
    flex-direction: row;
    justify-content:space-evenly;
    display: flex;
    align-items: center;
    margin-top: 5em;
}

.first-container1{
    width: 30%;
    height: 18em;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first-container1 p {
    text-align: justify;
    font-size: 1.3em;
    
}

.first-container1 h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.first-container2{
    width: 40%;
    height: 20em;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}