<nav>
    <div class="wrapper">
      <div class="logo"><a href="#">Logo</a></div>
      <ul class="nav-links">
        <li><a routerLink="/"  class="desktop-item"routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/services" class="desktop-item" routerLinkActive="active">Servicios</a></li>
        <li><a routerLink="/pricing"  routerLinkActive="active">Cotizador</a></li>
        <li>
          <a  class="desktop-item">Nosotros</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Nosotros</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg" alt="">
              </div>
              <div class="row">
                <header>¿Quien somos?</header>
                <ul class="mega-links">
                  <li><a routerLink="/acerca-de" routerLinkActive="active">Sobre nosotros</a></li>
                  <li><a routerLink="/mision" routerLinkActive="active">Mision</a></li>
                  <li><a routerLink="/vision" routerLinkActive="active">Vision</a></li>
                  <li><a routerLink="/valores" routerLinkActive="active">Valores</a></li>
                  <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
