<nav>
    <div class="wrapper">
      <div class="logo"><img src="https://cdn-icons-png.flaticon.com/128/6328/6328400.png" alt=""></div>
      <ul class="nav-links">
        <li><a routerLink="/"  class="desktop-item"routerLinkActive="active">INICIO</a></li>
        <li><a routerLink="/services" class="desktop-item" routerLinkActive="active">SERVICIOS</a></li>
        <li><a routerLink="/pricing"  routerLinkActive="active">COTIZADOR</a></li>
        <li>
          <a  class="desktop-item">¿QUIEN SOMOS?</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">NOSOTROS</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <ul class="mega-links">
                  <li><a routerLink="/acerca-de" routerLinkActive="active">Sobre nosotros</a></li>
                  <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
