
<div class="main">
    <div class="container-holder">
        <div class="first-container">
            <div class="first-container1">
                <h2>¿Qué es un NOC / SOC?</h2>
                <p>Nuestro servicio SOCaaS es una solución completa de seguridad cibernética que ofrece protección avanzada contra amenazas digitales. Al tercerizar la gestión del Centro de Operaciones de Seguridad, permitimos que las organizaciones se concentren en sus actividades principales, confiando en nuestra experiencia y tecnología para salvaguardar su infraestructura de amenazas cibernéticas.</p>
            </div>
            <div class="first-container2">
                <iframe width="100%" height="100%" style="border-radius: inherit;" src="https://www.youtube.com/results?search_query=SOCaaS+" frameborder="0" allowfullscreen></iframe>
            </div>              
        </div>
        <div class="second-container">
            <div class="container-title">
                <h1>¿POR QUÉ DEBERÍAS ELEGIRNOS?</h1>
            </div>
            <div class="container-row-holder">
                <div class="box">
                    <h2>Monitoreo en Tiempo Real</h2>
                    <p>Supervisamos continuamente la red y los sistemas para identificar actividades maliciosas o anómalas en tiempo real.</p>
                </div>
                <div class="box">
                    <h2>Detección y Respuesta ante incidentes</h2>
                    <p>Ante cualquier amenaza identificada, tomamos medidas inmediatas para mitigar riesgos y reducir el impacto, notificando a la organización a la brevedad.</p>
                </div>
                <div class="box">
                    <h2>Inteligencia de amenazas</h2>
                    <p>Mantenemos una base de conocimiento actualizada sobre tácticas y técnicas de ataque, permitiéndonos anticipar amenazas.</p>
                </div>
                <div class="box">
                    <h2>Reportes Detallados</h2>
                    <p>Proporcionamos informes regulares que incluyen incidentes detectados, acciones tomadas y recomendadas.</p>
                </div>
            </div>
        </div>
        <div class="third-container">
                <div class="c">
                    <input type="radio" name="a" id="cr-1" checked>
                    <label for="cr-1" style="--hue: 32"></label>
                    <div class="ci" style="--z: 4">
                        <h2 class="ch" style="--h: 32; --s: 80%; --l: 90%">Monitoreo de Red en Tiempo Real</h2>
                        <img src="https://images.unsplash.com/photo-1516655802732-dc776050098b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=700" alt="Snow on leafs">
                    </div>

                    <input type="radio" name="a" id="cr-2">
                    <label for="cr-2" style="--hue: 82"></label>
                    <div class="ci" style="--z: 3">
                        <h2 class="ch" style="--h: 82; --s: 80%; --l: 90%">Análisis de Tráfico y Comportamiento</h2>
                        <img src="https://images.unsplash.com/photo-1529761430595-036b79cb9d5e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=700" alt="Trees">
                    </div>

                    <input type="radio" name="a" id="cr-3">
                    <label for="cr-3" style="--hue: 40"></label>
                    <div class="ci" style="--z: 2">
                        <h2 class="ch" style="--h: 40; --s: 100%; --l: 89%">Gestión y Correlación de Logs</h2>
                        <img src="https://images.unsplash.com/photo-1518805629729-3e55b81b2393?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=700" alt="Mountains and houses">
                    </div>

                    <input type="radio" name="a" id="cr-4">
                    <label for="cr-4" style="--hue: 210"></label>
                    <div class="ci" style="--z: 1">
                        <h2 class="ch" style="--h: 210; --s: 70%; --l: 90%">Análisis de Vulnerabilidades y Penetración</h2>
                        <img src="https://images.unsplash.com/photo-1488831948116-38bc1351c6d6?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=700" alt="Sky and mountains">
                    </div>

                    <input type="radio" name="a" id="cr-5">
                    <label for="cr-5" style="--hue: 210"></label>
                    <div class="ci" style="--z: 1">
                        <h2 class="ch" style="--h: 210; --s: 70%; --l: 90%">Detección de Malware y Ransomware</h2>
                        <img src="https://images.unsplash.com/photo-1488831948116-38bc1351c6d6?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=700" alt="Sky and mountains">
                    </div>

                    <input type="radio" name="a" id="cr-6">
                    <label for="cr-6" style="--hue: 210"></label>
                    <div class="ci" style="--z: 1">
                        <h2 class="ch" style="--h: 210; --s: 70%; --l: 90%">Supervisión de Actividades de Usuarios</h2>
                        <img src="https://images.unsplash.com/photo-1488831948116-38bc1351c6d6?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=700" alt="Sky and mountains">
                    </div>

                    <input type="radio" name="a" id="cr-7">
                    <label for="cr-7" style="--hue: 210"></label>
                    <div class="ci" style="--z: 1">
                        <h2 class="ch" style="--h: 210; --s: 70%; --l: 90%">Respuesta ante Incidentes y Recuperación</h2>
                        <img src="https://images.unsplash.com/photo-1488831948116-38bc1351c6d6?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=700" alt="Sky and mountains">
                    </div>
                </div>
        </div>
        <div class="fourth-container">
            <div class="container-title">
                <h1>CONOCE AL EQUIPO DIRECTIVO</h1>
            </div>
            <div style="width: 70%; margin-bottom: 1em;">
                <p style="text-align: center; font-size: 1.5em;">Estamos dedicados a brindarte soluciones de seguridad cibernética de vanguardia, especializadas en SOCaaS. Cada miembro de nuestro equipo aporta su experiencia única para proteger tu infraestructura de amenazas cibernéticas. Confía en nosotros para salvaguardar tus activos digitales</p>
            </div>
            <div class="grid-holder">
                <div class="skeleton" *ngFor="let person of arrayInfo; let i = index">
                    <div class="skeleton-left">
                      <p style="text-align: center; font-weight: bold;">{{ person.name }}</p>
                      <p style="text-align: justify;">{{ person.description }}</p>
                    </div>
                    <div class="skeleton-right">
                      <div class="square"></div>
                    </div>
                  </div>                  
            </div>
        </div>
    </div>
</div>